<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"           <!-- ✅ GAMITIN ANG SARILI MONG ICON! -->
        android:label="Mga Ilegal na Bisyo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- ✅ SplashActivity — UNA ANG LALABAS -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ✅ MainActivity — PANGUNAHING PAHINA -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

    </application>

</manifest>
